@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.parentAddEmployee {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
}

.parentAddEmployee div label {
    text-align: left;
}

.parentAddEmployee select option {
    background-color: #fff;
    color: #333;
}

.parentAddEmployee input[type="text"],
.parentAddEmployee input[type="email"],
.parentAddEmployee input[type="password"],
.parentAddEmployee select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.parentAddEmployee select{
    background-color: white;
}

.parentAddEmployee input[type="text"]:focus,
.parentAddEmployee input[type="email"]:focus,
.parentAddEmployee input[type="password"]:focus,
.parentAddEmployee select:focus {
    border-color: dodgerblue;
    outline: none;
}

.parentAddEmployee label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.parentAddEmployee input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.parentAddEmployee input[type="date"]:focus {
    border-color: dodgerblue;
    outline: none;
}

.parentAddEmployee .div1 {
    display: flex;
    justify-content: left;
    align-items: center;
}


.parentAddEmployee .div13 select,
.parentAddEmployee .div13 select:focus {
    border-color: crimson;
    color: azure;
    background-color: crimson;
    outline: none;
}

.parentAddEmployee .div14 {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parentAddEmployee .div14 button {
    width: 100%;
    padding: 10px;
    border: 1px solid #0027b2;
    border-radius: 5px;
    font-size: 18px;
    background-color: #0027b2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.parentAddEmployee .div14 button:hover {
    background-color: #007acc;
    border-color: #007acc;
}

.parentAddEmployee .div14 button:focus {
    outline: none;
    border-color: #007acc;
}

.parentAddEmployee .div1 {
    grid-area: 1 / 1 / 2 / 4;
}

.parentAddEmployee .div2 {
    grid-area: 2 / 1 / 3 / 3;
}

.parentAddEmployee .div3 {
    grid-area: 2 / 3 / 3 / 5;
}

.parentAddEmployee .div4 {
    grid-area: 2 / 5 / 3 / 7;
}

.parentAddEmployee .div5 {
    grid-area: 3 / 1 / 4 / 4;
}

.parentAddEmployee .div6 {
    grid-area: 3 / 4 / 4 / 7;
}

.parentAddEmployee .div7 {
    grid-area: 4 / 1 / 5 / 3;
}

.parentAddEmployee .div8 {
    grid-area: 4 / 3 / 5 / 5;
}

.parentAddEmployee .div9 {
    grid-area: 4 / 5 / 5 / 7;
}

.parentAddEmployee .div10 {
    grid-area: 5 / 1 / 6 / 3;
}

.parentAddEmployee .div11 {
    grid-area: 5 / 3 / 6 / 5;
}

.parentAddEmployee .div12 {
    grid-area: 5 / 5 / 6 / 7;
}

.parentAddEmployee .div13 {
    grid-area: 1 / 5 / 2 / 7;
}

.parentAddEmployee .div14 {
    grid-area: 6 / 5 / 7 / 7;
}

.parentAddEmployee .div15 {
    grid-area: 6 / 1 / 7 / 3;
}

.parentAddEmployee .div16 {
    grid-area: 6 / 3 / 7 / 5;
}